		.btnBgColor_1{background-color: Yellow;}
		.btnBgColor_2{background-color: White;}
		.btnBgColor_3{background-color: Teal;color: white;}
		.btnBgColor_4{background-color: Silver;}
		.btnBgColor_5{background-color: Red;color: white;}
		.btnBgColor_6{background-color: Purple;color: white;}
		.btnBgColor_7{background-color: Olive;color: white;}
		.btnBgColor_8{background-color: Navy;color: white;}
		.btnBgColor_9{background-color: Maroon;color: white;}
		.btnBgColor_10{background-color: Lime;}
		.btnBgColor_11{background-color: Green;color: white;}
		.btnBgColor_12{background-color: Gray;color: white;}
		.btnBgColor_13{background-color: Fuchsia;color: white;}
		.btnBgColor_14{background-color: Blue;color: white;}
		.btnBgColor_15{background-color: Black;color: white;}
		.btnBgColor_16{background-color: Aqua;}
		.btnBgColor_17{background-color: brown;color: white;}
		.btnBgColor_18{background-color: gold;}
		.btnBgColor_19{background-color: gray;}
		.btnBgColor_20{background-color: orange;}
		.btnBgColor_21{background-color: transparent;}
		/*leave as it is*/
		.btnBgColor_22{}
		

		
		
		.btnBgColorCode_1{background-color: #FFF00;}
		.btnBgColorCode_2{background-color: #FFFFFF;}
		.btnBgColorCode_3{background-color: #008080;}
		.btnBgColorCode_4{background-color: #C0C0C0;}
		.btnBgColorCode_5{background-color: #FF0000;}
		.btnBgColorCode_6{background-color: #800080;}
		.btnBgColorCode_7{background-color: #808000;}
		.btnBgColorCode_8{background-color: #000080;}
		.btnBgColorCode_9{background-color: #800000;}
		.btnBgColorCode_10{background-color: #00FF00;}
		.btnBgColorCode_11{background-color: #008000;}
		.btnBgColorCode_12{background-color: #808080;}
		.btnBgColorCode_13{background-color: #FF00FF;}
		.btnBgColorCode_14{background-color: #0000FF;}
		.btnBgColorCode_15{background-color: #000000;}
		.btnBgColorCode_16{background-color: #00FFFF;}
		
		
		/*height*/
		.HtSize_1{width: 160px;height: 120px;}
		
		.HtSize_2{width: 320px;height: 240px;}
		
		.HtSize_3{width: 640px;height: 480px;}
		
		.HtSize_4{width: 800px;height: 600px;}
		
		.HtSize_5{width: 1024px;height: 768px;}
		
		.HtSize_6{width: 640px;height: 360px;}
		
		.HtSize_7{width: 720px;height: 576px;}
		
		.HtSize_8{width: 1280px;height: 720px;}
		
		.HtSize_9{width: 1920px;height: 1080px;}
		
		.HtSize_10{width: 3840px;height: 2160px;}

		
		
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	